<%!-- <.flash_group flash={@flash} /> --%>
<div class="m-8 w-[800px] min-w-[700px]">
    <LiveMonacoEditor.code_editor
        style="min-height: 250px; max-height: 500px; width: 100%;"
        value={ReactiveRiverWeb.Editor.EditorHTML.get_level_code}
        opts={ReactiveRiverWeb.Editor.EditorHTML.get_opts}
        change={ReactiveRiverWeb.Editor.EditorHTML.on_change}
    />
</div>

<img src={~p"/images/river.png"} class="m-8 w-[800px] min-w-[700px]" />